/*
    Created by Eric Teixeira
    github: eric-teixeira
    07.11.2014
*/
label {
    display: block;
}

body {
    background-color: #333;
    font-size: 14px;
}

form input {
    margin-top: 10px;
}

#form-login {
    margin-top: 50px;
}

.container .login #coneLogin {
    text-align: center;
    background: url('../images/coneLogin.png') no-repeat center;
    width: 100%;
    min-height: 65px;
    display: block;
    margin-top: 100px;
    box-sizing: border-box;
}

.container .login h2 {
    text-align: center;
    font-family: monospace;
    color: #204056;
}

.container .login {
    width: 40%;
    margin: 0 auto;
    display: block;
}

.container .btn-register{
    margin-top: 10px;
}

.msg-alert{
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
#header-fixed{
    //position: fixed;
    display: block;
    background-color: #000;
    height: 62px;
}

#header-fixed a {
    text-indent: -9999px;
    height: 62px;
    padding: 0px;
    margin: 0px;
    background: url('../images/logo_black.png') no-repeat left;
    display: block;
}

.container-register {
    margin-top: 100px;
}

.ajustConfirm {
    margin-top: 10px;
}

.menu{
    height: 747px;
    margin-top: -28px;
    padding-top: 0px;
    display: block;
    background-color: #000;
    position: fixed;
    color: #FFF;
}

.container-timeline{
    background-color: #CCC;
    display: block;
    padding-top: 90px;
}

.span-icon {
    color: #FFF;
}

.span-icon:hover {
    color: #FF4500;
}

ul li {
   list-style: none;
}

.menu-item {
    margin-top: 15px;
}

.no-pd {
    padding: 0px;
}

.no-mg {
    margin: 0px;
}

.col-md-01 {
    width: 5.333333% !important;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.black {
    background-color: #000;
    color: #FFF;
}

.yellow {
    background-color: yellow;
}

nav ul li {
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 30px;
    margin-top: 10px;
}

.noMgnoPd {
    margin: 0px;
    padding: 0px;
}

.md-left-15 {
    margin-left: -15px;
}

.f-size-30 {
    font-size: 30px !important;
}

.bl-1, .bl-2 {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #000;
}

.bl-1 img{
    width: 667px;
    height: 684px;
    border-radius: 5px;
} 
.bl-2 img {
    width: 315px;
    height: 220px;
    border-radius: 5px;
}

.item-menu {
    color: #FFF;
    margin: -5px;
}

.container-ajustes {
    margin-top: 10px;
}

.nav-menu {
    margin-top: 220px;
}

.form-mydata {
    margin-top: 50px;
}
.form-mydata label {
    margin-top: 20px;
}