/*
    Created by Eric Teixeira
    github: eric-teixeira
    07.11.2014
*/
label {
    display: block;
}

body {
    background-color: #333;
    font-size: 14px;
}

form input {
    margin-top: 10px;
}

#form-login {
    margin-top: 50px;
}

.container .login #coneLogin {
    text-align: center;
    background: url('../images/coneLogin.png') no-repeat center;
    width: 100%;
    min-height: 65px;
    display: block;
    margin-top: 100px;
    box-sizing: border-box;
}

.container .login h2 {
    text-align: center;
    font-family: monospace;
    color: #204056;
}

.container .login {
    width: 40%;
    margin: 0 auto;
    display: block;
}

.container .btn-register{
    margin-top: 10px;
}

.msg-alert{
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
}
#header-fixed{
    width: 100%;
    position: fixed;
    display: block;
    background-color: #000;
    height: 62px;
}

#header-fixed a {
    text-indent: -9999px;
    height: 62px;
    padding: 0px;
    margin: 0px;
    background: url('../images/logo_black.png') no-repeat left;
    display: block;
}

.container-register {
    margin-top: 100px;
}

.ajustConfirm {
    margin-top: 10px;
}

.menu{
    height: 747px;
    margin-top: -28px;
    padding-top: 0px;
    display: block;
    background-color: #000;
    position: fixed;
    color: #FFF;
}

.container-timeline{
    background-color: #CCC;
    display: block;
    padding-top: 90px;
}

.span-icon {
    color: #FFF;
}

.span-icon:hover {
    color: #FF4500;
}

ul li {
   list-style: none;
}

.menu-item {
    margin-top: 15px;
}

.no-pd {
    padding: 0px;
}

.no-mg {
    margin: 0px;
}

.col-md-01 {
    width: 5.333333% !important;
}